* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.title--blue{
  color: #2A7AE4;
}
